/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --nav-color:rgba(53, 52, 48, 1);
  --decor-color:rgba(53, 52, 48, 1);
  --background-image: url(../images/cover-image-light.png);
  --accent-color:rgba(255, 141, 203, 1);
  --main-text-color:rgba(53, 52, 48, 1);
  --main-title-color:rgba(255, 194, 230, 1);
  --section-title-color:rgba(53, 52, 48, 1);
  --accent-text-color:rgba(53, 52, 48, 1);
  --border-color-hover:rgba(50, 49, 45, 0.4);
  --background-color:#fff1f7
}
.theme_light .header__decor{
  display: none;
 }
@media (prefers-color-scheme: light) {
  :root {
    --section-title-color:rgba(53, 52, 48, 1);
    --nav-color:rgba(53, 52, 48, 1);
    --decor-color:rgba(53, 52, 48, 1);
    --background-image: url(../images/cover-image-light.png);
    --accent-color:rgba(255, 141, 203, 1);
    --main-text-color:rgba(53, 52, 48, 1);
    --main-title-color:rgba(255, 194, 230, 1);
    --accent-text-color:rgba(53, 52, 48, 1);
    --border-color-hover:rgba(50, 49, 45, 0.4);
    --background-color:#fff1f7;    
    }
    .header__decor{
      display: none;
    }
  }